@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .tw-btn {
        @apply tw-px-3 tw-py-1.5 tw-leading-6 tw-rounded;
    }

    .tw-select {
        @apply tw-form-select tw-shadow-sm focus:tw-ring-indigo-500 focus:tw-border-indigo-500 tw-block tw-w-full sm:tw-text-sm tw-border-gray-300 tw-rounded-md;
    }

    .tw-input {
        @apply tw-form-input tw-shadow-sm focus:tw-ring-indigo-500 focus:tw-border-indigo-500 tw-block tw-w-full sm:tw-text-sm tw-border-gray-300 tw-rounded-md;
    }

    .tw-btn-sky {
        @apply tw-rounded-md tw-border tw-no-underline tw-border-transparent tw-bg-sky-500 tw-py-2 tw-px-4 tw-text-sm tw-font-medium tw-text-white hover:tw-text-white tw-shadow-sm hover:tw-bg-sky-600 focus:tw-outline-none focus:tw-ring-2 focus:tw-ring-sky-500 focus:tw-ring-offset-2 disabled:tw-opacity-75 hover:tw-text-white tw-no-underline;
    }
}

.transform-fill {
    transform-box: fill-box;
}

.tw-ripple-gradient {
    background: linear-gradient(90deg, #513DA1 0%, #880AEB 0.01%, #B34B8A 100%);
}

.tw-ripple-bg-gradient {
    background: linear-gradient(180deg, #513DA1 0%, #880AEB 0.01%, #B34B8A 100%);
}

.tw-z-60 {
	z-index: 1000;
}

.tw-z-70 {
	z-index: 2000;
}

.tw-z-80 {
    z-index: 3000;
}
